@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@layer components {
  .max-container {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 64px);
  }
}


.button-one .line {
  transition: y 300ms ease-in 300ms, rotate 300ms ease-in, opacity 0ms 300ms;
  transform-origin: center;
}
.button-one:hover .line {
  transition: y 300ms ease-in, rotate 300ms ease-in 300ms, opacity 0ms 300ms;
}

.button-one:hover :is(.top, .bottom) {
  y: 4.5;
}

.button-one:hover .top {
  rotate: 45deg;
}

.button-one:hover .bottom {
  rotate: -45deg;
}

.button-one:hover .middle {
  opacity: 0;
}
