@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  overscroll-behavior: none;
}

@layer components {
  .max-container {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@layer utilities {
  .section-min-height {
    min-height: calc(100vh - 64px);
  }
}

.hamburger-button {
  --button-color: black;
  overflow: hidden;
}

.hamburger-button .hamburger-svg {
  transition: translate 1s, rotate 1s;
}

.hamburger-button:active .hamburger-svg {
  translate: 3px -2px;
  rotate: 0.125turn;
}

.hamburger-button .hamburger-line {
  transition: 1s;
  stroke-dasharray: 60 31 60 300;
}

.hamburger-button:active .hamburger-line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}
