@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #020618;
}

@layer components {
  .max-container {
    max-width: 1280px;
    margin: 0 auto;
  }
}

@layer utilities {
  .section-min-height {
    min-height: calc(100vh);
  }
}

.hamburger-button {
  --button-color: black;
  overflow: hidden;
}

.hamburger-svg-open {
  transition: 0.5s;
}

.hamburger-svg-close {
  transition: 0.5s;
  translate: 2px -2px;
  rotate: 0.125turn;
}

.hamburger-line-open {
  transition: 0.5s;
  stroke-dasharray: 60 31 60 300;
}

.hamburger-line-close {
  transition: 0.5s;
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}
